<md-progress-linear md-mode="indeterminate" ng-if="busy"></md-progress-linear>

<navbar model="Navbar" ng-if="!busy"></navbar>

<md-content ng-if="!busy" id="tvShow">
  <h2>{{tvShow.title}} ({{tvShow.year}})</h2>
  <p id="overview">{{tvShow.overview}}</p>
  
  <h3>
    Season {{seasonNumber}} Episode {{episodeNumber}}
    <rating stars="episode.rating"></rating>
    <br />
    {{episode.title}}
  </h3>
  <p class="overview">{{episode.overview}}</p>
</md-content>

<md-content>
  <md-progress-linear md-mode="indeterminate" ng-repeat="(provider, sourceObject) in sources" ng-if="sourceObject.busy"></md-progress-linear>  

  <md-list ng-repeat="(provider, sourceObject) in sources" layout="column">
    <md-list-item class="md-2-line" ng-repeat="source in sourceObject.sources" ng-click="watch(source)">
      <div class="md-list-item-text">
        <h4>{{provider}}</h4>
        <p>{{source.quality}}</p>
      </div>
    </md-list-item>
  </md-list>  
</md-content>

<div ng-if="playing">
  <section class="video" ng-video>
    <video vi-screen></video>
    <section vi-controls class="controls">
        <span vi-controls-play title="Play">
          <ng-md-icon icon="play_arrow" size="24" style="fill: white;"></ng-md-icon>
        </span>
        <span vi-controls-pause title="Pause">
          <ng-md-icon icon="pause" size="24" style="fill: white;"></ng-md-icon>
        </span>
    </section>
    <section class="full-screen">
      <span title="Full Screen" vi-full-screen-toggle>
        <ng-md-icon icon="fullscreen" size="24" style="fill: white;"></ng-md-icon>
      </span>
    </section>
  </section>
</div>