<md-progress-linear md-mode="indeterminate" ng-if="busy"></md-progress-linear>

<navbar model="Navbar" ng-if="!busy"></navbar>

<md-content ng-if="!busy" id="tvShow">
  <h2>{{tvShow.title}} ({{tvShow.year}})</h2>
  <p id="overview">{{tvShow.overview}}</p>
  
  <h3>
    Season {{seasonNumber}} Episode {{episodeNumber}}
    <rating stars="episode.rating"></rating>
    <br />
    {{episode.title}}
  </h3>
  <p class="overview">{{episode.overview}}</p>
</md-content>

<md-content>
  <md-progress-linear md-mode="indeterminate" ng-repeat="(provider, sourceObject) in sources" ng-if="sourceObject.busy"></md-progress-linear>

  <div ng-repeat="(provider, sourceObject) in sources" ng-if="sourceObject.sources.length > 0">
    <md-subheader>{{provider}}</md-subheader>
    <div layout="row">
      <md-button ng-repeat="source in sourceObject.sources" ng-click="play(source)">{{source.quality}}</md-button>
    </div>
  </div>
</md-content>

