<md-progress-linear md-mode="indeterminate" ng-if="busy"></md-progress-linear>

<navbar model="Navbar" ng-if="!busy"></navbar>

<md-content ng-if="!busy" id="tvShow">
  <h2>{{tvShow.title}} ({{tvShow.year}})</h2>
  <p id="overview">{{tvShow.overview}}</p>
  <h3>Season {{seasonNumber}}</h3>

  <md-list>
    <md-list-item class="md-2-line" ng-repeat="episode in season" ng-click="visitTvShowEpisode(tvShow.ids.trakt, seasonNumber, episode.number)">
      <div class="md-list-item-text">
        <h3>
          Season {{seasonNumber}} Episode {{episode.number}}
          <rating stars="episode.rating"></rating>
          <br />
          {{episode.title}}
        </h3>
        <p class="overview">{{episode.overview}}</p>
      </div>
    </md-list-item>
  </md-list>
</md-content>