html, body { width: 500px; }
.pointer, a:hover { cursor: pointer; }

.content { padding: 20px; }   
.error { color: red; }
.md-padding { padding: 16px; }
.center { text-align: center; }

/*----- avatars -----*/
.circle-avatar { background: #2196F3; color: white; }
.circle-avatar span { position: relative; top: 12px; left: 12px;}
/*.episode-avatar { min-width: 40px; min-height: 40px; }*/

/*----- icon buttons -----*/
.topbar-button svg { position: relative; top: 4px; }
.topbar-menu-button svg { position: relative; top: 6px; }
.navbar-menu-button svg { position: relative; top: 6px; }
.navbar-menu-button { color: rgb(33,150,243); }

.play-button svg,
.stop-button svg,
.rew-button svg,
.pause-button svg,
.tvshow-button svg,
.movie-button svg,
.settings-button svg,
.remote-button svg,
.music-button svg,
.search-button svg,
.save-button svg,
.ffw-button svg,
.like-button svg { position: relative; top: 8px; }
.sort-button { text-transform: none !important; color: rgb(33,150,243); }
.close-button svg { position: relative; top: 6px; }
.sort-button svg { position: relative; top: 2px; }

/*----- topbar -----*/
#topbar { overflow: hidden; }
#topbar #search { padding-bottom: 4px; }
#topbar #search .md-placeholder { top: -18px; }
#topbar #search input { color: white; border-color: white; }
#topbar #search .md-placeholder { color: white; }
  
/*----- content -----*/
#top { position: fixed; width: 100%; height:; z-index: 2; }
#middle { position: absolute; top: 64px; width: 100%; }
#middle.playing-now-visible { position: absolute; top: 224px; }


/*----- md list -----*/
.md-list-item-text h4 { line-height: 0.95em !important; white-space: inherit !important; text-align: justify; }
md-list-item:not(:last-child) { padding-bottom: 8px !important; border-bottom: 1px solid rgba(33, 150, 243, 0.12); margin-bottom: 8px !important; }

/*----- playing now -----*/
#playing-now { background: rgb(33,150,243); width: 100%; color: white; }

#playing-now #progress md-slider { cursor: pointer; }
#playing-now #progress md-slider .md-thumb { display: none; }
#playing-now #progress md-slider .md-track-container { height: 8px; }

#playing-now #progress #time { padding-top: 8px; height: 14px; position: relative; bottom: 12px; }
#playing-now #progress #time #elapsed { padding-left: 4px; }
#playing-now #progress #time #remaining { padding-right: 4px; }

#playing-now #info-details { text-align: center; }
#playing-now #info-details h1,
#playing-now #info-details h3 { padding: 0; margin: 0; }

/*----- remote control -----*/

.remote-control .cell { margin: auto 0; text-align: center; }
    

/*----- video -----*/
.video { margin-bottom: 24px; }

.video-avatar { max-height: 300px; }
.video-avatar.episode { max-width: 150px; }
.video .video-avatar { margin-left: auto; margin-right: auto; }
.empty-avatar { width: 175px; height: 253px; background: rgba(33,150,243,0.2); }
.empty-avatar.music-avatar { height: 175px; }


.video h2, .video h3, .video h5 { padding: 0; margin: 0; }
.video h2, .video h3 { color: rgba(33,150,243,1); }
.video h5 { color: rgba(33,150,243,0.5); }

.genre { 
  padding-left: 4px; 
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  background: rgba(33,150,243,0.5);
  margin-right: 4px;
  border-radius: 4px;
  color: white;
  font-weight: 500;
}
.genre:hover { background: rgba(33,150,243,1); }
.rating { color: rgba(33,150,243,1); font-size: 12pt; font-weight: normal; }
.rating.big { font-size: 24pt; }
.rating svg { position: relative; top: 2px; }
.rating.big svg { top: 4px; }
.plot { text-align: justify; padding-right: 16px; }

.hoverable-video-avatar { position: relative; }
.hoverable-video-avatar .buttons { position: absolute; top: 8px; left: 32px; -z-index: 10; height: 90%; }
.hoverable-video-avatar .image { width: 175px; height: 260px; margin: auto; background: rgba(33,150,243,0.2); }
.hoverable-video-avatar .image img { max-height: 100px; }
.hoverable-video-avatar .image.movie img { max-height: none; height: 100% !important; }

.empty-cast { width: 75px; height: 112px; background: rgba(33,150,243,0.2); }
.cast { padding-bottom: 16px; }
.cast h3, .cast h4 { padding: 0; margin: 0; }
.cast h3 { padding-top: 8px; }
.cast .image img { width: 75px; }

md-slider.video-position { cursor: pointer; height: 16px; width: 175px; margin: auto; position: relative; top: -23px; }
md-slider.video-position .md-thumb { display: none; }
md-slider.video-position .md-track-container { height: 8px; }


md-toast { background-color: rgba(33,150,243,1); }

/*----- playlists  -----*/

.playlist { margin-bottom: 16px; }
.playlist-item { padding-top: 8px; }
.playlist-item .text { padding-left: 8px; padding-right: 8px; }
.playlist-item .text h3,
.playlist-item .text h4 { padding: 0; margin: 0; }
.playlist-item:not(:last-child) { border-bottom: 1px solid rgba(33, 150, 243, 0.12); }


/* like */
.tvshow-wrapper { position: relative; }
.tvshow-wrapper button { position: absolute; top: 16px; left: 12px; }
button.like-button { background-color: rgba(33,150,243,0.5) !important; }
button.like-button.liked { background-color: rgba(33,243,78,0.5) !important; }