<md-dialog aria-label="Player">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Player</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="close()">
        <ng-md-icon icon="close" size="24" style="fill: white;"></ng-md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <videogular vg-theme="config.theme">
      <vg-media vg-src="config.sources"></vg-media>
      <vg-controls>
        <vg-play-pause-button></vg-play-pause-button>
        <vg-time-display>{{ currentTime | date: "mm:ss" }}</vg-time-display>
        <vg-scrub-bar>
          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        </vg-scrub-bar>
        <vg-time-display>{{ timeLeft | date: "mm:ss" }}</vg-time-display>
        <vg-volume>
          <vg-mute-button></vg-mute-button>
          <vg-volume-bar></vg-volume-bar>
        </vg-volume>
        <vg-fullscreen-button></vg-fullscreen-button>
      </vg-controls>
      <vg-overlay-play></vg-overlay-play>
      <vg-poster vg-url="config.plugins.poster"></vg-poster>
    </videogular>
  </md-dialog-content>
  
</md-dialog>