<md-content id="topbar">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <img flex="10" src="../images/app.png" style="height: 32px; padding-right: 5px;" />      
      
      <div flex id="title" ng-if="!showSearch">
        Streaming TV
      </div>

      <div flex="10" layout="row">
        <md-button flex class="md-icon-button topbar-button" aria-label="Search" ng-click="visit('/search')">
          <ng-md-icon icon="search" size="24" style="fill: white;"></ng-md-icon>
        </md-button>
      </div>
      
    </div>  
  </md-toolbar>
</md-content>